h1 {
    text-align: center;
}

section {
    margin-bottom: 25px;
}

table {
    margin-top: 25px;

    td, th {
        text-align: left;
        padding: 10px 15px;
    }

    td {
        vertical-align: top;
    }

    th {
        vertical-align: middle;
    }
}

.error {
    vertical-align: center;
    color: red;
    font-size: 1.2rem;
    margin-top: 25px;
    display: flex;
    align-items: center;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;

    [name] {
        font-size: 1.5rem;
        margin-right: 10px;
    }
}

.products-list {
    overflow-y: auto;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.search-form {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}
