<ion-header>
  <ion-toolbar>
    <ion-icon name="home"></ion-icon>
    <ion-buttons slot="end">
      <ng-container *ngIf="authService.isLoggedIn; else logIn">
        <ion-icon name="log-out-outline" (click)="authService.SignOut()"></ion-icon>
      </ng-container>
      <ng-template #logIn>
        <ion-icon [routerLink]="['/login']" name="person-circle"></ion-icon>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Home protected content</h1>
</ion-content>
