<ion-header>
  <ion-toolbar class="center-in-page center-content">
    <ion-icon name="home"></ion-icon>
    <ion-buttons slot="end">
      <ng-container *ngIf="authService.isLoggedIn; else logIn">
        <ion-icon
          name="log-out-outline"
          (click)="authService.SignOut()"
        ></ion-icon>
      </ng-container>
      <ng-template #logIn>
        <ion-icon [routerLink]="['/login']" name="person-circle"></ion-icon>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <main class="center-in-page">
    <h1>Enter your WooCommerce's Data</h1>
    <section class="center-in-page center-content">
      <form [formGroup]="WCForm" (ngSubmit)="onSubmit($event)">
        <ion-item>
          <ion-label class="label">API Key</ion-label>
          <ion-input type="text" formControlName="apiKey"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">API Secret</ion-label>
          <ion-input type="text" formControlName="apiSecret"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">Url</ion-label>
          <ion-input type="text" formControlName="url"></ion-input>
        </ion-item>
        <p class="center-content">
          <ion-button type="submit" class="button">Update table</ion-button>
        </p>
      </form>
    </section>
    <hr />
    <section>
      <h1>Your WooCommerce's Products</h1>
      <div class="search-form">
        <ion-item>
          <ion-input
            [formControl]="search"
            placeholder="Name search"
            type="text"
          ></ion-input>
          <ion-button type="button" class="button" (click)="onSearch()"
            >Search</ion-button
          >
          <ion-button
            type="button"
            class="button"
            color="secondary"
            (click)="onReset()"
            >Reset</ion-button
          >
        </ion-item>
      </div>
      <div *ngIf="products && products.length > 0">
        <ng-container *ngIf="errorGettingProducts; else table">
          <p class="error">
            <ion-icon name="warning"></ion-icon>There was an error getting your
            products data <br />
            Check the provided info
          </p>
        </ng-container>
        <ng-template #table>
          <div class="products-list center-in-page table-container">
            <table>
              <tr>
                <th>Name</th>
                <th>Sku</th>
                <th>Stock Status</th>
                <th>Price</th>
                <th>Categories</th>
              </tr>
              <ng-container
                *ngFor="
                  let product of products
                    | paginate: { itemsPerPage: 8, currentPage: pages }
                "
              >
                <tr>
                  <td>{{ product.name }}</td>
                  <td>{{ product.sku }}</td>
                  <td>{{ product.stock_status }}</td>
                  <td>{{ product.price }}</td>
                  <td>{{ product.categories[0].name }}</td>
                </tr>
              </ng-container>
            </table>
          </div>
        </ng-template>
        <div class="pagination-control-container">
          <pagination-controls
            (pageChange)="pages = $event"
          ></pagination-controls>
        </div>
      </div>
    </section>
  </main>
</ion-content>
