<ion-header>
  <ion-toolbar>
    <ion-icon name="home" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" class="buton">Submit</ion-button>
  </form>
  <p>Don't you have an account? <a [routerLink]="['/register']">Sign up!</a></p>
</ion-content>
